<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<main class="theMeat">
    <h1 class="pageHeaderText">|The Events|</h1>
    <div class="container">
        <div class="col-6 text-center eventCard" th:each="event : ${events}">
            <a th:href="@{/events/{id} (id = ${event.id})}"><h1 th:text="${event.name}"></h1></a>
            <p th:text="${event.food.name}"></p>
        </div>
    </div>

</main>
<div th:replace="partials :: foot-script"></div>
</body>
</html>