<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body class="background">
<nav th:replace="~{partials :: navbar}"></nav>
<main>
    <div class="container">
    <div class="d-flex row">
        <h1 class="pageHeaderText"><span th:text="${event.name}"></span>'s Details !</h1>
        <div class=" col-sm-8 eventCard">
            <h1 th:text="${event.name}" class="mt-2"></h1><br>
            <h4>Created By: <span th:text="${event.owner.username}"></span></h4>
            <h4> Event Location: <span th:text="${event.address}"></span></h4>
            <h4>Food Being Served: <a th:href="@{/foods/{id} (id = ${event.food.id})}"><span th:text="${event.food.name}"></span></a></h4>
            <label for="description">Description:</label>
            <p id="description" th:text="${event.description}"></p>
            <p> If you are interested in attending contact the creator: <span th:text="${event.owner.email}"></span></p>
        </div>
        <a th:href="@{/events}" class="d-flex justify-content-center"><button class="newButton">Return to events</button></a>
    </div>
    </div>
</main>
<div th:replace="partials :: foot-script"></div>
</body>
</html>