<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<main>
    <div class="container">
    <div class="d-flex row">
        <div class="col-sm-4">
            <img alt="eventPhoto" class="img-thumbnail">
        </div>
        <div class=" col-sm-8 eventCard">
            <h1 th:text="${event.name}" class="pageHeaderText"></h1>
            <h4>Created By: <span th:text="${event.owner.username}"></span></h4>
            <h4> Event Location: <span th:text="${event.address}"></span></h4>
            <h4>Food Being Served: <a th:href="@{/foods/{id} (id = ${event.id})}"><span th:text="${event.food.name}"></span></a></h4>
            <a class="btn" th:href="@{/events/{id}/join (id = ${event.id})}">Join Event</a>
        </div>
        <a class="btn" th:href="@{/events}">Return to events</a>
    </div>
    </div>
</main>
<div th:replace="partials :: foot-script"></div>
</body>
</html>