<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body class="background">
<nav th:replace="partials :: navbar"></nav>
<main class="container theMeat">
  <h1 class="pageHeaderText">Log In</h1>
  <form th:action="@{/login}" method="post">
    <div class="mb-3 login-form">
      <label for="username" class="form-label">Username:</label>
      <input id="username" name="username" type="text" class="form-control" />
      <label for="password" class="form-label">Password:</label>
      <input id="password" name="password" type="password" class="form-control" />
    <input  class="btn submitButton " type="submit" value="Log In" />
    </div>
  </form>
</main>
<div th:replace="partials :: foot-script"></div>
</body>
</html>