<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
</head>

<body>

<div class="container">
    <nav th:replace="partials :: navbar"></nav>
    <h1>Profile</h1>
<!--    <img src="#" alt="Profile Picture Goes Here">-->
    <p>Username: <span th:text="${#authentication.principal.username}"></span></p>
    <p>Email: <span th:text="${#authentication.principal.email}"></span></p>

    <h2>Favorite Foods</h2>
    <p>Favorite Food 1: <span th:text="${#authentication.principal.foods}"></span></p>
<!--    <div class="card-deck">-->
<!--        <div class="card" th:each="food : ${#authentication.principal.food}">-->
<!--&lt;!&ndash;            <img class="card-img-top" th:src="${food.image}" alt="Food Image">&ndash;&gt;-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" th:text="${food.name}"></h5>-->
<!--                <p class="card-text" th:text="${food.instructions}"></p>-->
<!--                <p class="card-text" th:text="${food.ingredients}"></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: foot-script"> </div>
</body>
</html>

