<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<main class="container theMeat">
    <h1 class="pageHeaderText">Welcome, <span th:text="${#authentication.principal.username}"></span></h1>
    <div class=" flex-nowrap row my-4">
        <div class="displayPhoto col-sm-5">
            <img src="#" alt="Profile Picture Goes Here">
        </div>
        <div class="siteCard col-sm-8">
            <p>First Name: <span th:text="${#authentication.principal.firstName}"></span></p>
            <p>Last Name: <span th:text="${#authentication.principal.lastName}"></span></p>
            <p>Email: <span th:text="${#authentication.principal.email}"></span></p>
            <a th:href="@{/profile/{id}/edit (id = ${#authentication.principal.id})}">Edit Profile</a>
        </div>
    </div>
    <hr class="height:20px">
    <!--    <h2>Favorite Foods</h2>-->
    <!--    <div class="card-deck">-->
    <!--        <div class="card" th:each="food : ${user.foods}">-->
    <!--&lt;!&ndash;            <img class="card-img-top" th:src="${food.imageUrl}" alt="Food Image">&ndash;&gt;-->
    <!--            <div class="card-body">-->
    <!--                <h5 class="card-title" th:text="${food.name}"></h5>-->
    <!--                <p class="card-text" th:text="${food.instructions}"></p>-->
    <!--                <p class="card-text" th:text="${food.ingredients}"></p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: foot-script"></div>
</body>
</html>

