.nb{
    background-color: rebeccapurple;
    color: antiquewhite;
}

.pageHeaderText{
    text-align: center;
    margin-top: 50px;
    font-family: fantasy;
    font-size: 36px;
    font-weight: bolder;
}
.landingCard{
    border: #21152A 1px solid;
    height: 175px;
    width: 175px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.landingImages{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.landingCircles{
    width: 175px;
    border-radius: 50%;
    background-color:#e25363;
    text-align: center;
}

.landingBoxes{
    background-color: rebeccapurple;
    color: antiquewhite;

}

.submitButton{
    width: 100%;
    margin-top: 35px;
    background-color: dimgrey;
    text-align: center;
}
.siteCard{
    text-align: left;
    border: 5px solid black;
    background-color: rebeccapurple;
    min-width: 65%;
    color: antiquewhite;
}

.member{
    border: 3px solid black;
    margin:30px 30px;
    justify-content: center;
}

.theMeat{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.eventCard{
    text-align: center;
    border: 5px solid black;
    background-color: rebeccapurple;
    min-width: 65%;
    min-height: 350px;
    color: antiquewhite;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

