<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body class="theMeat">
<nav th:replace="partials :: navbar"></nav>
<main class="container ">
    <h1 class="text-center pageHeaderText">Dinner Knight</h1>
    <section class="cards row d-flex justify-content-center my-5">
        <div class="card landingImages col-2 mx-3">
            <img src="https://cdn.filestackcontent.com/8b2aQHFcQzq1X3O27srR" alt="Image description">
        </div>
        <div class="card landingImages col-2 mx-3">
            <img src="https://cdn.filestackcontent.com/YJXAp1TaSOKDSsIJCNID" alt="Image description">
        </div>
        <div class="card landingImages col-2 mx-3">
            <img src="https://cdn.filestackcontent.com/sfbQE9s0R9aVpVZb9T5A" alt="Image description">
        </div>
        <div class="card landingImages col-2 mx-3">
            <img src="https://cdn.filestackcontent.com/SEJ1Km9pQxGlwE20HQ36" alt="Image description">
        </div>
        <div class="card landingImages col-2 mx-3">
            <img src="https://cdn.filestackcontent.com/pbDBQVR7QlWBITqeu0BW" alt="Image description">
        </div>
    </section>

    <div class="border landingBoxes row d-flex flex-nowrap justify-content-center mt-5">
        <div class="col-3 row  flex-nowrap">
            <div class="col-4">
                <h4 class="text-center">New Here</h4><br>
                <p class="text-center">Create an account... </p>
            </div>
            <div class="col-4 landingCircles align-content-center text-align">
                <a class="nav-link" href="/register"><p class="text-center m-auto">Click to <br>start... </p></a>
            </div>
        </div>
        <div class="col-3 row flex-nowrap">
            <div class="col-6">
                <h4>Welcome back! </h4><br>
                <p >Thought you <br>looked familiar... </p>
            </div>
            <div class="col-6 landingCircles">
                <a class="nav-link" href="/login"><p class="my-3">Click to <br>login... </p></a>
            </div>
        </div>
        <div class=" col-3 row flex-nowrap">
            <div class="col-6">
                <h4>Just want to browse? </h4><br>
                <p>That's cool too <br>thanks for visiting... </p>
            </div>
            <div class="col-6 landingCircles">
                <p class="justify-content-center align-content-center">Click to <br>login... </p>
            </div>
        </div>

    </div>

</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: foot-script"></div>
</body>
</html>