<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    function requestFood(){
        $.ajax({
            method: 'GET',
            url: 'http://www.themealdb.com/api/json/v1/1/lookup.php?i=52772\n'
        }).done(function (data) {
            console.log(data);
        });
    }
</script>

</html>