<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http.www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body class="background">
<nav th:replace="~{partials :: navbar}"></nav>

<main class="container">
    <h1 class="pageHeaderText">Add a dish!</h1>
    <form th:action="@{/foods/save}" th:method="post" th:object="${food} ">
        <div class="mb-3 register-form">
            <label for="foodName" class="form-label ">Food Name: </label>
            <input type="text" name="foodName" id="foodName" class="form-control" th:field="*{name}">
            <label for="ingredients" class="form-label">Ingredients needed: </label>
            <input type="text" name="ingredients" id="ingredients" class="form-control" th:field="*{ingredients}">
            <label for="instruction" class="form-label">Instructions to follow: </label>
            <input type="text" name="instruction" id="instruction" class="form-control" th:field="*{instructions}">
            <input type="hidden" name="user" th:field="*{id}" value="">
            <button class="submitButton"> Create New Event!</button>
        </div>
    </form>
</main>
<div th:replace="partials :: foot-script"></div>

</body>
</html>