<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<main class="theMeat">
    <h1 class="pageHeaderText">Food Index</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3" th:each="food : ${foods}">
                <h4>Food Being Served: <span th:text="${food.name}"></span></h4>
                <br>
                <h4>Ingredients: <span th:text="${food.ingredients}"></span></h4>
                <br>
                <h4>Cooking Instructions:  <span th:text="${food.instructions}"></span></h4>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{partials :: foot-script}"></div>
</body>
</html>
