<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Index</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<main class="theMeat">
    <h1 class="pageHeaderText">Food Index</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3" th:each="food : ${foods}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${food.getName()}"></h5>
                        <p class="card-text" th:text="${food.getIngredients()}"></p>
                        <p class="card-text" th:text="${food.getInstructions()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{partials :: footer}"></footer>
<div th:replace="~{partials :: foot-script}"></div>
</body>
</html>
