<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head th:replace="~{partials :: head}">-->
<!--</head>-->
<!--<body>-->
<!--<nav th:replace="~{partials :: navbar}"></nav>-->
<!--<main>-->
<!--    <div class="container">-->
<!--        <div class="d-flex row">-->
<!--            <div class="col-sm-4">-->
<!--                <img alt="foodPhoto" class="img-thumbnail">-->
<!--            </div>-->
<!--            <div class=" col-sm-8 foodCard">-->
<!--                <h1 th:text="${food.name}" class="pageHeaderText"></h1>-->
<!--                <h2 th:text="${food.ingredients}" class="pageHeaderText"></h2>-->
<!--                <h2 th:text="${food.user.username}" class="pageHeaderText"></h2>-->
<!--                <h2 th:text="${food.instructions}" class="pageHeaderText"></h2>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--<div th:replace="partials :: foot-script"></div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{partials :: head}">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="background">
<nav th:replace="~{partials :: navbar}"></nav>
<main>
    <div class="container">
        <div class="d-flex row">
            <div class="col-sm-8 food-card">
                <h1 th:text="${food.name}" class="page-header-text"></h1>
                <h2 th:text="${food.ingredients}" class="page-header-text"></h2>
                <h3 class="created-by">Created by: <span th:text="${food.user.username}" class="creator-username"></span></h3>
                <h2 th:text="${food.instructions}" class="page-header-text"></h2>
            </div>
        </div>
    </div>
</main>
<div th:replace="partials :: foot-script"></div>
</body>
</html>

